[Unit]
Description=Bot de Ofertas Rata
After=network.target

[Service]
WorkingDirectory=/home/ztorm/RataBOT
ExecStart=/home/ztorm/RataBOT/venv/bin/python -u /home/ztorm/RataBOT/rata_bot.py
Restart=always
RestartSec=10
User=ztorm

StandardOutput=append:/home/ztorm/RataBOT/bot.log
StandardError=append:/home/ztorm/RataBOT/bot.log

[Install]
WantedBy=multi-user.target
